<DOCTYPE!.html>
<html>
    <head>
        <title>Coffee Shop Menu</title>
    </head>
    <body>
        <h1>Coffee Shop Menu Management System</h1>
        <p>Welcome to our menu management application. Manage coffee items, updates, and listings easily.</p>

        <a href="{% url 'add_item' %}" class="button">Add Item</a>
        <a href="{% url 'item_list' %}" class="button">View Items</a>


        <footer>
        <p>ZIUKE INFOTECH (OPC) PRIVATE LIMITED 2026</p>
        </footer>

    </body>
</html> 